@font-face {
    font-family: 'JetBrains Mono';
    src: url("/JetBrainsMonoNL-Regular.ttf")
}

* {
    /* lengths */
    --toolbar-height: 30px;
    --window-gap: 32px;

    /* typography */
    /* Using a monospace font for everything is arguably a design smell, but it
       is good enough for now. */
    font-family: "JetBrains Mono";
    font-size: 14px;
}

/* colors */
* {
    --layer-0-background: #fdf6e3;
    --layer-1-background: #eee8d5;
    --layer-2-background: #ded8c5;
    --layer-2-foreground: #4D444A;

    /* if you are changing the following lines, you shoud probably update the other place where --correct-char, --incorrect-char, --player-cursor-char, --opponent-cursor-char is set too. */
    --correct-char: #c5ddc5;
    --incorrect-char: #dec5c5;
    --opponent-cursor: #baba70;
    --player-cursor: #cebaa6;
}

@media (prefers-color-scheme: dark) {
    /* invert everything... */
    html {
        filter: invert(100%);
    }
    /* ...reinvert --correct-char and --incorrect-char highlighting, to negate the inversion of html. If this is not done, correctChars would be red, wrongChars would be green, the players cursor would look like the opponents cursor and the opponents cursors would look like the players cursor. */
    * {
        --correct-char: #dec5c5;
        --incorrect-char: #c5ddc5;
        --opponent-cursor: #cebaa6;
        --player-cursor: #baba70;
    }
}
