@font-face {
    font-family: 'JetBrains Mono';
    src: url("/JetBrainsMonoNL-Regular.ttf")
}

* {
    /* lengths */
    --toolbar-height: 30px;
    --window-gap: 32px;

    /* colors */
    --layer-0-background:         #fdf6e3;
    --layer-1-background:         #eee8d5;
    --layer-2-background:         #ded8c5;
    --layer-2-foreground:         #4D444A;
    --cursor-player-background:   #cebaa6;
    --cursor-opponent-background: #baba70;

    /* typography */
    /* Using a monospace font for everything is arguably a design smell, but it
       is good enough for now. */
    font-family: "JetBrains Mono";
    font-size: 14px;
}
