body {
    margin: 0;
    background: var(--layer-0-background);
}
main {
    box-sizing: border-box;
    padding: var(--window-gap);
    gap: var(--window-gap);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "chat codefield";

    /* TODO: if the viewport is too narrow, dedicate all of it too the
       chat and output a message informing the user that they must
       expand it to view the code. */
}

* {
    /* Using a monospace font for everything is arguably a design smell, but it
       is good enough for now. */
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
}
@media (max-width: 900px) {
    main {
        display: block;
    }
    .chat {
        height: 100%;
    }
    .codefield {
        display: none;
    }
}

.chat, .codefield {
    background: var(--layer-1-background);

    box-sizing: border-box;
    border-top-color: var(--layer-2-background);
    border-top-style: solid;
    border-top-width: 30px;

    margin: 0;
}
.chat {
    grid-area: chat;
    grid-template-rows: auto 55px;
    grid-template-areas: "messages"
                         "form";
    display: grid;
}
.chat-messages {
    grid-area: messages;
    padding: 16px;
    color: var(--layer-2-foreground);
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.chat-message-sender {
    font-weight: bold;
    margin-right: 0.43em;
    white-space: nowrap;
}
.chat-form {
    grid-area: form;
    padding: 8px;
    gap: 8px;

    display: grid;
    grid-template-columns: auto 75px;
    background: var(--layer-2-background)
}
.chat-form-text-field, .chat-form-send-button {
    background: var(--layer-1-background);
    outline:none;
    border: 0;
}
.chat-form-send-button {
    border-radius: 5px;
    font-weight: bold;
    color: var(--layer-2-foreground);
    transition-duration: 0.12s;
}
.chat-form-send-button:hover {
    background: var(--layer-2-background);
}
.codefield {
    margin: 0;
    grid-area: codefield;
    outline: none;
    padding: 16px;
}

/* Jeg tenker det er best å farge bokstavene i javascript. kanjse, kanskje ikke. */
/* Codefield */
/* .codefield-character { */
/*     color: var(--cursor-color); */
/* } */

.codefield-character {
    color: var(--layer-2-foreground);
}

.codefield-character-correct {
    color: green;
}

.codefield-character-incorrect {
    color: red;
}

/* Newlines are an edgecase. Displaying them all the time looks ugly,
   but not displaying them if a cursor is on them is
   confusing. Therefore we only display them if a cursor is on
   them. */
.codefield-character-newline {
    color: var(--layer-1-background);
}
.codefield-character-player.codefield-character-newline,
.codefield-character-opponent.codefield-character-newline  {
    color: var(--layer-2-foreground);
}

.codefield-character-opponent {
    background: var(--cursor-opponent-background);
}

.codefield-character-player {
    background: var(--cursor-player-background);
}

